<app-nav-bar></app-nav-bar>
<div class="container">
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">amount</th>
            <th scope="col">price</th>
            <th scope="col">image</th>
            <th scope="col">acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products ">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.price}}</td>
            <div class="imageTable">
              <img src="{{item.image}}" alt="">
            </div >
            <td>
              <div>
                <button class="btn btn-primary" type="button">Editar</button>
                <button class="btn btn-danger" type="button">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Nuevo widgetde ng-bootstrap para paginar -->
      <div class="footer">
        <select [(ngModel)]="pageSizeSelect" ngModel (ngModelChange)="selectSizeElements($event)" class="form-select">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
        <ngb-pagination
            [(page)]="page"
            [maxSize]="3"
            [pageSize]="pageSize"
            [collectionSize]="totalPages"
            (pageChange)="onPageChange($event)">
          </ngb-pagination>
      </div>
</div>
