.container{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.imageTable{
    width: 150px;
    height: 150px;
}
// object-fit ayuda a que la imagen no sobresalga del tamanho del div establecido
.imageTable img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

ngb-pagination ::ng-deep a {
    color: black !important;
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: black;
    background-color: lightgrey;
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
  }

  .footer{
    display: flex;
  }

  .form-select{
    width: 70px;
    height: 40px;
  }