.form-data{
    // text-align: center;
    // background-color: red;
}
.data{
    // background-color: blue;    
    max-width: 60%;
    padding: 5%;
    margin: auto;
    margin-bottom: 3px;
}
button{
    margin-top: 2%;
}

// #file-input{
//     display: none;
// }
